{% extends 'ia_app/base/base_page.html' %}

{% block title %}
<h1 class="txtnxp">ChatBots</h1>
{% endblock %}

{% block content %}
<script>
    var csrf = '{{ csrf_token }}';
    var btn = '{{button}}';
</script>

<div class="d-flex flex-column flex-column-fluid">
    <div class="content fs-6 d-flex flex-column-fluid" id="kt_content">
        {% if bots %}
        <div class="container-fluid">
            <div class="row mt-4 mb-2">
                <div align="right" style="float:right">
                    <button class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modal-agregar">Agregar</button>
                </div>
                <div class="col-12 mt-4">
                    <div class="card bd-white">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table-bots" class="table table-striped table-hover">
                                    <thead class="text-center">
                                        <tr>
                                            <th scope="col" class="ttnx cnx">IMAGEN</th>
                                            <th scope="col" class="ttnx cnx">NOMBRE</th>
                                            <th scope="col" class="ttnx cnx">ESTATUS</th>
                                            <th scope="col" class="ttnx cnx">SKILLS</th>
                                            <th scope="col" class="ttnx cnx">ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle fs-5">
                                        {% for bot in bots %}
                                        <tr>
                                            <td>
                                                <a data-fancybox="{{ bot.id }}" href="{{ bot.imagen }}">
                                                    <img src="{{ bot.imagen }}" class="img-chatbot">
                                                </a>
                                            </td>
                                            <td>{{bot.nombre}}</td>
                                            {% if bot.status == True %}
                                            <td>Activo</td>
                                            {% else %}
                                            <td>Inactivo</td>
                                            {% endif %}
                                            <td>
                                                <a data-bs-placement="top" title="Habilidades"
                                                    onclick="modalSkill('{{bot.id}}')" data-bs-toggle="modal"
                                                    data-bs-target="#modal-skill" class="btn btn-skill">
                                                    <i class="fa-solid fa-receipt m-0 p-0 text-white fs-5"></i>
                                                </a>
                                            </td>
                                            {% if bot.status == True %}
                                            <td>
                                                <a data-bs-placement="top" title="" data-bs-toggle="modal"
                                                    onclick="modalBtn('{{bot.id}}')" data-bs-target="#modal-boton"
                                                    class=" btn btn-info">
                                                    <i class="fa-solid fa-robot m-0 p-0 fs-5"></i>
                                                </a>
                                                <a data-bs-placement="top" title="Editar"
                                                    onclick="modalEditar('{{bot.id}}')" data-bs-toggle="modal"
                                                    data-bs-target="#modal-editar" class="btn btn-success">
                                                    <i class="fa-solid fa-pen m-0 p-0 fs-5"></i>
                                                </a>
                                                <a data-bs-placement="top" title="Desactivar"
                                                    onclick="off('{{bot.id}}')" class="btn btn-warning">
                                                    <i class="fa-solid fa-ban m-0 p-0 fs-5"></i>
                                                </a>
                                            </td>
                                            {% else %}
                                            <td>
                                                <a data-bs-placement="top" title="Activar"
                                                    onclick="activate('{{bot.id}}')" class="btn btn-secondary">
                                                    <i class="fa-solid fa-check m-0 p-0 fs-5"></i>
                                                </a>
                                                <a data-bs-placement="top" title="Eliminar"
                                                    onclick="deleteBot('{{bot.id}}')" class="btn btn-danger">
                                                    <i class="fa-solid fa-trash-can m-0 p-0 fs-5"></i>
                                                </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container-fluid">
            <div class="row mt-4 mb-2">
                <div align="right" style="float:right">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-agregar"><i
                            class="fa-solid fa-plus"></i> Agregar</button>
                </div>
                <div class="col-12 mt-4">
                    <br><br><br><br>
                    <h2 class="text-center mt-4">
                        A&uacute;n no tienes ChatBots registrados
                    </h2>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Modal agregar -->
<div class="modal fade" id="modal-agregar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-agregarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title ttnx" id="modal-agregarLabel">Registrar ChatBot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %} <!-- Es necesario para insertar un registro a la DB -->
                    <!-- El identificador es el name NO el id -->
                    <div class="row mt-2 mb-4">
                        <div class="col-6">
                            <label for="imagen">
                                <i class="fa-regular fa-image text-primary ms-2"></i>&nbsp;Imagen
                            </label><br>
                            <!-- <input required type="text" class="form-control" id="imagen" name="imagen"> -->
                            <input type="hidden" required class="btn" role="uploadcare-uploader" data-clearable="true"
                                class="custom-progress" name="uploadcare" id="uploadcare" />
                        </div>
                        <div class="col-6">
                            <label for="nombre">
                                <i class="fa-regular fa-user text-primary ms-2"></i>&nbsp;Nombre
                            </label>
                            <input required type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                    </div>
                    <div class="row mb-4 mt-2">
                        <div class="col-6">
                            <label for="tema">
                                <i class="fa-solid fa-robot text-primary"></i>&nbsp;Tema
                            </label>
                            <input required type="text" class="form-control" id="tema" name="tema">
                        </div>
                        <div class="col-6">
                            <label for="cliente">
                                <i class="fa-solid fa-briefcase text-primary ms-2"></i>&nbsp;Cliente
                            </label>
                            <select required name="cliente" id="cliente" class="form-control">
                                {% for emp in empresa %}
                                <option value="{{ emp.id }}">{{ emp.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 mt-2">
                        <label for="descripcion">
                            <i class="fa-solid fa-file-lines text-primary ms-2"></i>&nbsp;Descripci&oacute;n
                        </label>
                        <div class="col-12">
                            <textarea required name="descripcion" class="form-control" id="descripcion" cols="60"
                                rows="5"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="registrarBot()" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar -->
<div class="modal fade" id="modal-editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-editarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title ttnx" id="modal-editarLabel">Actualizar ChatBot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %} <!-- Es necesario para insertar un registro a la DB -->
                    <!-- El identificador es el name NO el id -->
                    <div class="row mt-2 mb-4">
                        <div class="col-6">
                            <label for="imagen">
                                <i class="fa-regular fa-image text-primary ms-2"></i>&nbsp;Imagen
                            </label><br>
                            <!-- <input type="text" class="form-control" id="imagen-editar" name="imagen-editar"> -->
                            <input type="hidden" class="btn" role="uploadcare-uploader" data-clearable="true"
                                class="custom-progress" name="uploadcare-editar" id="uploadcare-editar" />
                        </div>
                        <div class="col-6">
                            <label for="nombre">
                                <i class="fa-regular fa-user text-primary ms-2"></i>&nbsp;Nombre
                            </label>
                            <input type="text" class="form-control" id="nombre-editar" name="nombre-editar">
                        </div>
                    </div>
                    <div class="row mb-4 mt-2">
                        <div class="col-6">
                            <label for="tema">
                                <i class="fa-solid fa-robot text-primary"></i>&nbsp;Tema
                            </label>
                            <input type="text" class="form-control" id="tema-editar" name="tema-editar">
                        </div>
                        <div class="col-6">
                            <label for="cliente">
                                <i class="fa-solid fa-briefcase text-primary ms-2"></i>&nbsp;Cliente
                            </label>
                            <select name="cliente-editar" id="cliente-editar" class="form-control">
                                {% for emp in empresa %}
                                <option value="{{ emp.id }}">{{ emp.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 mt-2">
                        <label for="descripcion">
                            <i class="fa-solid fa-file-lines text-primary ms-2"></i>&nbsp;Descripci&oacute;n
                        </label>
                        <div class="col-12">
                            <textarea name="descripcion-editar" class="form-control" id="descripcion-editar" cols="60"
                                rows="5"></textarea>
                        </div>
                    </div>
                    <input type="text" name="id" id="id" hidden>
                    <input type="text" name="id_tema" id="id_tema" hidden>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="actualizarBot()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal skills -->
<div class="modal fade" id="modal-skill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-skillLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 ttnx" id="modal-skillLabel">Configuraci&oacute;n</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form id="" action="">
                            <div class="all-steps" id="all-steps">
                                <span class="step"></span> <span class="step"></span>
                            </div>
                            <div class="tab">
                                <h3 class="text-center mt-3">
                                    Habilidades del Bot
                                </h3><br>
                                <div class="row mt-3 mb-4">
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-2 fs-4">
                                            Descripci&oacute;n del Bot
                                        </label>
                                        <textarea
                                            placeholder="Ejem. Eres un chatbot para ayudar y respoder preguntas referentes a ventas digitales de computadoras."
                                            style="resize: none;" class="form-control" name="txtConfig" id="txtConfig"
                                            cols="10" rows="8"></textarea>
                                        <label for="" class="mt-4 mb-2 fs-4">
                                            Respuesta bloqueada
                                        </label>
                                        <input placeholder="Respuesta a pregunta bloqueada" type="text"
                                            class="form-control w-100" id="txtAnsBloc" name="txtAnsBloc">
                                    </div>
                                    <div class="col-6 text-center align-middle">
                                        <label for="" class="mb-2 fs-4">
                                            Lenguaje
                                        </label>
                                        <select class="form-select" id="multiple-select-field"
                                            data-placeholder="Seleccionar" multiple>
                                            <option value="Espanol">Español</option>
                                            <option value="Ingles">Ingl&eacute;s</option>
                                            <option value="Frances">Franc&eacute;s</option>
                                            <option value="Chino">Chino</option>
                                            <option value="Ruso">Ruso</option>
                                            <option value="Portugues">Portugu&eacute;s</option>
                                        </select>
                                        <label for="" class="mt-4 mb-2 fs-4">
                                            Bloqueo de palabras
                                        </label>
                                        <textarea
                                            placeholder="Ejem. No podras contestar mas sobre otro tema que no sean ventas digitales de computadoras."
                                            style="resize: none;" class="form-control" name="txtBloc" id="txtBloc"
                                            cols="30" rows="8"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab">
                                <div class="row">
                                    <input type="text" hidden id="id_bot" name="id_bot">
                                    <div class="col-8">
                                        <div class="row mb-3">
                                            <div class="col-5">
                                                <input type="text" class="form-control" name="txtQuestion"
                                                    id="txtQuestion" placeholder="Pregunta">
                                            </div>
                                            <div class="col-5">
                                                <input type="text" class="form-control" name="txtAnswer" id="txtAnswer"
                                                    placeholder="Respuesta">
                                            </div>
                                            <div class="col-2">
                                                <div class="btn-toolbar">
                                                    <button type="button" id="btnAddQNA" class="btn btn-info w-50">
                                                        <i class="fa-solid fa-plus mx-0"></i>
                                                    </button>
                                                    <button type="button" id="btnRefreshQNA"
                                                        class="btn btn-warning w-50">
                                                        <i class="fa-solid fa-rotate-right mx-0"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <div class="card border border-primary">
                                                    <div class="card-body" id="card-qna">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <input type="search" class="form-control w-100 nosubmit"
                                                    placeholder="Buscar...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row mb-4">
                                            <div class="col-12">
                                                <input type="text" class="form-control w-100"
                                                    placeholder="Simular pregunta" id="txtSimulationQuestion"
                                                    name="txtSimulationQuestion">
                                                <button onclick="simulator()" type="button"
                                                    class="mt-2 btn btn-info w-100">
                                                    Simulaci&oacute;n
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border border-primary">
                                                    <div class="card-body" id="card-simulation">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">
                        <button type="button" class="btn btn-danger" id="prevBtn"
                            onclick="nextPrev(-1)">Regresar</button>
                        <button type="button" class="btn btn-primary" id="nextBtn"
                            onclick="nextPrev(1)">Siguiente</button>
                        <button type="button" class="btn btn-primary" id="addBot" onclick="addBot()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Boton -->
<div class="modal fade" id="modal-boton" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-botonLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ttnx" id="modal-botonLabel">Configuraci&oacute;n del Bot&oacute;n</h5>
                <button type="button" onclick="clearSettingsBtn()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2 mb-2">
                    <input type="text" hidden id="txtBotIdBtn" name="txtBotIdBtn">
                    <div class="col-8">
                        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="default-tab" data-bs-toggle="pill"
                                    data-bs-target="#tab-default" type="button" role="tab" aria-controls="tab-default"
                                    aria-selected="true">Predeterminado</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="custom-tab" data-bs-toggle="pill"
                                    data-bs-target="#tab-custom" type="button" role="tab" aria-controls="tab-custom"
                                    aria-selected="false">Personalizado</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="tab-default" role="tabpanel"
                                aria-labelledby="default-tab">
                                <div class="row mt-4 mb-4">
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color de respuesta del Bot</label>
                                        <select class="form-control" name="tabDefaultTextBot" id="tabDefaultTextBot">
                                            <option disabled selected>Seleccionar</option>
                                            <option value="#FFFFFF">Blanco</option>
                                            <option value="#332D2D" class="text-dark">Negro</option>
                                            <option value="#9FA6B2" class="text-secondary">Gris</option>
                                            <option value="#3B71CA" style="color: #3B71CA;">Azul</option>
                                            <option value="#1AB634" style="color: #1AB634;">Verde</option>
                                            <option value="#FF0000" style="color: #FF0000;">Rojo</option>
                                            <option value="#6235BF" style="color: #6235BF;">Morado</option>
                                            <option value="#FFDC00" style="color: #FFDC00;">Amarillo</option>
                                            <option value="#FFA500" style="color: #FFA500;">Naranja</option>
                                        </select>
                                    </div>
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color de pregunta del usuario</label>
                                        <select class="form-control" name="tabDefaultTextUsr" id="tabDefaultTextUsr">
                                            <option disabled selected>Seleccionar</option>
                                            <option value="#FFFFFF">Blanco</option>
                                            <option value="#332D2D" class="text-dark">Negro</option>
                                            <option value="#9FA6B2" class="text-secondary">Gris</option>
                                            <option value="#3B71CA" style="color: #3B71CA;">Azul</option>
                                            <option value="#1AB634" style="color: #1AB634;">Verde</option>
                                            <option value="#FF0000" style="color: #FF0000;">Rojo</option>
                                            <option value="#6235BF" style="color: #6235BF;">Morado</option>
                                            <option value="#FFDC00" style="color: #FFDC00;">Amarillo</option>
                                            <option value="#FFA500" style="color: #FFA500;">Naranja</option>
                                        </select>
                                    </div>
                                </div><br>
                                <div class="row mt-2 mb-4">
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color Principal</label>
                                        <select class="form-control" name="tabDefaultPrimary" id="tabDefaultPrimary">
                                            <option disabled selected>Seleccionar</option>
                                            <option value="#FFFFFF">Blanco</option>
                                            <option value="#332D2D" class="text-dark">Negro</option>
                                            <option value="#9FA6B2" class="text-secondary">Gris</option>
                                            <option value="#3B71CA" style="color: #3B71CA;">Azul</option>
                                            <option value="#1AB634" style="color: #1AB634;">Verde</option>
                                            <option value="#FF0000" style="color: #FF0000;">Rojo</option>
                                            <option value="#6235BF" style="color: #6235BF;">Morado</option>
                                            <option value="#FFDC00" style="color: #FFDC00;">Amarillo</option>
                                            <option value="#FFA500" style="color: #FFA500;">Naranja</option>
                                        </select>
                                    </div>
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color Secundario</label>
                                        <select class="form-control" name="tabDefaultSecondary"
                                            id="tabDefaultSecondary">
                                            <option disabled selected>Seleccionar</option>
                                            <option value="#FFFFFF">Blanco</option>
                                            <option value="#332D2D" class="text-dark">Negro</option>
                                            <option value="#9FA6B2" class="text-secondary">Gris</option>
                                            <option value="#3B71CA" style="color: #3B71CA;">Azul</option>
                                            <option value="#1AB634" style="color: #1AB634;">Verde</option>
                                            <option value="#FF0000" style="color: #FF0000;">Rojo</option>
                                            <option value="#6235BF" style="color: #6235BF;">Morado</option>
                                            <option value="#FFDC00" style="color: #FFDC00;">Amarillo</option>
                                            <option value="#FFA500" style="color: #FFA500;">Naranja</option>
                                        </select>
                                    </div>
                                </div><br>
                                <div class="row mt-4 mb-2">
                                    <div class="col-6 text-center">
                                        <label for="" class="fs-5 mb-4">
                                            Posici&oacute;n
                                        </label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Izquierda
                                            </div>
                                            <div class="col-md-4" align="center">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input w-100" type="checkbox" role="switch"
                                                        id="switchPositionDefault">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                Derecha
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <label for="" class="fs-5 mb-4">
                                            Fondo
                                        </label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Claro
                                            </div>
                                            <div class="col-md-4" align="center">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input w-100" type="checkbox" role="switch"
                                                        id="switchBackgroundDefault">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                Oscuro
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-custom" role="tabpanel" aria-labelledby="custom-tab">
                                <div class="row mt-4 mb-4">
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color de respuesta del Bot</label>
                                        <div class="wrap" align="center">
                                            <div class="half">
                                                <div id="txtAnsBot"></div>
                                            </div>
                                            <div class="half readout">
                                                <input id="hexInputAnsBot" style="text-transform:uppercase;"
                                                    class="form-control w-50"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color de pregunta del usuario</label>
                                        <div class="wrap" align="center">
                                            <div class="half">
                                                <div id="txtAnsUser"></div>
                                            </div>
                                            <div class="half readout">
                                                <input id="hexInputAnsUs" style="text-transform:uppercase;"
                                                    class="form-control w-50"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row mt-2 mb-4">
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color Principal</label>
                                        <div class="wrap" align="center">
                                            <div class="half">
                                                <div id="txtPrimary"></div>
                                            </div>
                                            <div class="half readout">
                                                <input id="hexInputPrimary" style="text-transform:uppercase;"
                                                    class="form-control w-50"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <label for="" class="mb-4 fs-5">Color Secundario</label>
                                        <div class="wrap" align="center">
                                            <div class="half">
                                                <div id="txtSecondary"></div>
                                            </div>
                                            <div class="half readout">
                                                <input id="hexInputSecondary" style="text-transform:uppercase;"
                                                    class="form-control w-50"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row mt-4 mb-2">
                                    <div class="col-6 text-center">
                                        <label for="" class="fs-5 mb-4">
                                            Posici&oacute;n
                                        </label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Izquierda
                                            </div>
                                            <div class="col-md-4" align="center">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input w-100" type="checkbox" role="switch"
                                                        id="switchPosition">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                Derecha
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <label for="" class="fs-5 mb-4">
                                            Fondo
                                        </label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                Claro
                                            </div>
                                            <div class="col-md-4" align="center">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input w-100" type="checkbox" role="switch"
                                                        id="switchBackground">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                Oscuro
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row mt-2 mb-2">
                            <div class="card p-0">
                                <div class="card-header rounded-top text-center" id="backgroundPrimary"
                                    style="border-bottom: 0;">
                                    <img src="" id="img-prev-bot" class="img-chat-bot">
                                    <label for="" id="colorSecondary" class="fs-3"></label>
                                </div>
                                <div class="card-body rounded-bottom" id="backgroundChat">
                                    <div>
                                        <p id="colorBot" class="fs-4">
                                            <i class="fa-solid fa-robot fs-3 text-primary"></i>&nbsp;
                                            Bot
                                            <br>
                                            <span class="mt-4 rspbnx" id="bgrbnx">
                                                Hola, ¿Como puedo ayudarte?
                                            </span>
                                        </p>
                                        <br>
                                    </div>
                                    <div class="float-end text-end">
                                        <p id="colorUser" class="fs-4">
                                            User&nbsp;
                                            <i class="fa-regular fa-user fs-3 text-primary"></i>
                                            <br>
                                            <span class="mt-4 rspunx" id="bgrunx">
                                                Hola
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="clearSettingsBtn()">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="color()">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script src="../static/js/bots.js"></script>

{% endblock %}