{% extends 'ia_app/base/base_page.html' %}

{% block title %}
<h1 class="txtnxp">Clientes</h1>
{% endblock %}


{% block content %}
<style>

</style>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
        window.onpopstate = function () {
            window.history.replaceState(null, null, window.location.href);
        };
        window.onbeforeunload = function () {
            window.history.replaceState(null, null, window.location.href);
        };
    }
</script>

<script>
    var csrf = '{{ csrf_token }}';
</script>

<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div class="content fs-6 d-flex flex-column-fluid" id="kt_content">
        <!--begin::Container-->
        <div class="container-fluid">

            <!--begin::Row-->
            <div class="row mt-4 g-0 g-xl-5 g-xxl-12">
                <div align="right" style="float:right">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                            class="fa-solid fa-plus"></i> Agregar</button>
                </div>
                <div class="col-xxl-12 gy-0 gy-xxl-8 mt-4">
                    <div class="card card mb-5 mb-xxl-8 mt-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="text-center">
                                        <tr>
                                            <th scope="col" class="ttnx">Nombre</th>
                                            <th scope="col" class="ttnx">Direccion</th>
                                            <th scope="col" class="ttnx">Telefono</th>
                                            <th scope="col" class="ttnx">Email</th>
                                            <th scope="col" class="ttnx">Estatus</th>
                                            <th scope="col" class="text-center ttnx">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center align-middle">
                                        {% for cliente in clientes %}
                                        <tr>
                                            <td>{{ cliente.nombre }}</td>
                                            <td>{{ cliente.direccion }}</td>
                                            <td>{{ cliente.telefono }}</td>
                                            <td>{{ cliente.email }}</td>
                                            <td>{{ cliente.estatus }}</td>
                                            <td>

                                                <a class="btn btn-warning" onclick="obtenerCliente('{{cliente.id}}')"><i
                                                        class="fas fa-pen-to-square"></i>&nbsp;Editar</a>

                                                <a class="btn btn-danger" onclick="eliminarCliente('{{cliente.id}}')"><i
                                                        class="fas fa-regular fa-trash"></i>&nbsp;Eliminar</a>

                                                    <button  class="btn btn-danger" onclick="eliminarCliente('{{cliente.id}}')"><i class="fas fa-regular fa-trash"></i>&nbsp;Eliminar</button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title ttnx" id="exampleModalLabel">Registrar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>

                    {% csrf_token %} <!-- Es necesario para insertar un registro a la DB -->

                    <!-- El identificador es el name NO el id -->

                    <div class="mb-6">
                        <label for="nombre" class="form-label"><i
                                class="bi bi-person text-primary"></i>&nbsp;Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div> <!-- NO --> <!-- SI -->

                    <div class="mb-6">
                        <label for="direccion" class="form-label"><i
                                class="bi bi-geo-alt text-primary"></i>&nbsp;Direccion</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>

                    <div class="mb-6">
                        <label for="telefono" class="form-label"><i
                                class="bi bi-telephone text-primary"></i>&nbsp;Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>

                    <div class="mb-6">
                        <label for="email" class="form-label"><i
                                class="bi bi-envelope text-primary"></i>&nbsp;Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="agregarCliente();">Registrar
                    Cliente</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title ttnx" id="exampleModalLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>

                    {% csrf_token %}

                    <input type="hidden" id="idEdit" name="idEdit">

                    <div class="mb-6">
                        <label for="nombre" class="form-label"><i
                                class="bi bi-person text-primary"></i>&nbsp;Nombre</label>
                        <input type="text" class="form-control" id="nombreEdit" name="nombreEdit" required>
                    </div>

                    <div class="mb-6">
                        <label for="direccion" class="form-label"><i
                                class="bi bi-geo-alt text-primary"></i>&nbsp;Direccion</label>
                        <input type="text" class="form-control" id="direccionEdit" name="direccionEdit" required>
                    </div>

                    <div class="mb-6">
                        <label for="telefono" class="form-label"><i
                                class="bi bi-telephone text-primary"></i>&nbsp;Telefono</label>
                        <input type="number" class="form-control" id="telefonoEdit" name="telefonoEdit" required>
                    </div>

                    <div class="mb-6">
                        <label for="email" class="form-label"><i
                                class="bi bi-envelope text-primary"></i>&nbsp;Email</label>
                        <input type="email" class="form-control" id="emailEdit" name="emailEdit" required>
                    </div>

                    <div class="mb-6">
                        <label for="estatus" class="form-label"><i
                                class="bi bi-envelope text-primary"></i>&nbsp;Estatus</label>
                        <select class="form-select" id="estatusEdit" name="estatusEdit" required>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="actualizarCliente();">Editar
                    Cliente</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}

<script src="../static/js/clientes.js"></script>

{% endblock %}